<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="szydlowskiptr.com.epz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EPZ"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.AddAddressActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.AddressListActivity"
            android:exported="false"
            android:label="@string/title_activity_address_list"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EPZ.NoActionBar" />
        <activity
            android:name=".activity.DetailsProductActivity"
            android:exported="false"
            android:label="@string/title_activity_details_product"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EPZ.NoActionBar" />
        <activity
            android:name=".activity.HomeActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.MainActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data android:name="com.rollbar.android.ACCESS_TOKEN"
            android:value="42de07d4ecb94cdcae5306317698820d" />
    </application>

</manifest>