<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EPZ"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">
        <activity
            android:name=".activity.status.StatusActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--        android:launchMode="singleInstance"-->
        <activity
            android:name=".activity.basket.CheckoutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--            android:launchMode="singleInstance"/>-->
        <activity
            android:name=".profile.ProfileDataActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--        android:launchMode="singleInstance"-->
        <activity
            android:name=".address.AddAddressActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--        android:launchMode="singleInstance"-->
        <activity
            android:name=".address.AddressListActivity"
            android:exported="false"
            android:label="@string/title_activity_address_list"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EPZ.NoActionBar" />
        <!--        android:launchMode="singleInstance"-->
        <activity
            android:name=".product.DetailsProductActivity"
            android:exported="false"
            android:label="@string/title_activity_details_product"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EPZ.NoActionBar" />
        <!--        android:launchMode="singleInstance"-->
        <activity
            android:name=".home.HomeActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.loginRegister.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <!--        android:launchMode="singleInstance"-->
        <activity
            android:name=".activity.MainActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <!--            android:launchMode="singleInstance"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.loginRegister.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <!--        android:launchMode="singleInstance"-->

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.rollbar.android.ACCESS_TOKEN"
            android:value="79aa1f7f03494e1cb2d64ee27c6074c1" />
    </application>

</manifest>